@import url('https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Mono:wght@400;500&family=Montserrat:wght@300;400;500;600&family=Nunito:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif; */
/* ========================Global Styling ======================== */
body{
    font-family: 'Poppins', sans-serif;
    color: #282331;
    overflow-x: hidden;
}
.btn-dark{
    padding: 9px 19px;
    background-color: #000;
    font-size: 20px;
    border-radius: 8px;
}
.btn-dark .icon{
    margin-right: 16px;
}
.content{
    position: relative;
    z-index: 2;
}
.rounded{
    border-radius: 16px !important;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: #282331;
    opacity: 0.8;
}
a{
    text-decoration: none;
}
/* ===========XX=============Global Styling End=============XX=========== */

/* navbar start from here */
nav{
    background-color: transparent;
    margin-top: 45px;
    transition: 1s;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 99999;
}
nav.scroll_sticky{
    margin-top: 5px;
}
nav .nav-link{
    font-size: 18px;
    font-weight: 500;
    color: #303539 !important;
    margin-left: 18px;
    padding: 0 0 8px !important;
    position: relative;
}
nav .nav-link.search_link{
    margin-left: 35px;
    font-size: 22px;
}
nav .nav-link::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: .2s;
    background-color: #000;
}
nav .nav-link.active::before,
nav .nav-link:hover::before{
    width: 100%;
}

/* navbar section end here */

/* header section start from here */
.header_section{
    padding-top: 218px;
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-position-x: 279%;
    background-position-y: 80%;
    overflow: visible;
    background-size: 84%;
    height: 870px;
}
.header_section .left_bg{
    position: absolute;
    left: 0;
    top: 200px;
}
.header_section .hero_title{
    font-size: 48px;
    font-weight: bold;
    color: #0D0D0D;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 50px;
    line-height: 165%;
}
.header_section .btn{
    margin-right: 30px;
}
/* header section start end here */

/* section 2 start from here */
.section_2 .inner_content{
    padding: 0 4px;
    padding: 50px 70px 20px 50px;
    height: 435px;
    background: #fff;
    box-shadow: 0px 4px 62px rgba(13, 58, 101, 0.21);
}
.section_2 .left_bg{
    position: absolute;
    top: -10%;
    left: -5%;
}
.section_2 .inner_content .img{
    width: 98px;
    height: 98px;
    border-radius: 14.97px;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(13, 58, 101, 0.77);
}
.section_2 .inner_content .text-content{
    padding: 8px;
}
.section_2 .text-content .title{
    font-size: 35px;
    margin: 30px 0 15px;
    color: #282331;
}
.section_2 .text-content .para{
    font-size: 24px;
    color: #282331;
    opacity: 0.8;
}
/* section 2 start end here */

/* section 3 start from here */
.section_3{
    margin-top: 73px;
    position: relative;
}
.section_3 .right_bg{
    position: absolute;
    right: -40%;
    top: -20%;
}
.section_3 .text-content{
    padding:0 130px 0 20px;
}
.section_3 .title{
    font-size: 35px;
}
.section_3 .para{
    font-size: 19px;

}
/* section 3 start end here */

.section_4{
    margin-top: 60px;
    position: relative;
}
.section_4 .left_bg{
    position: absolute;
    top: -10%;
    left: -2%;
}
.section_4 .right_bg{
    position: absolute;
    right: -18%;
    top: -7%;
}
.section_4 .business_card{
    width: 300px !important;
    height: 300px !important;
    border-radius: 50%;
    background: #303539;
    box-shadow: -0.37px -2.98px 10px rgba(13, 58, 101, 0.15);
    border: 30px solid #fff;
    color: #fff;
    text-align: center;
}
.section_4 .title{
    font-size: 30px;
}
.section_4 .business_card h3{
    font-size: 20px;
}
.section_4 .business_card h2{
    font-size: 25px;
}
.section_4 .business_card.push_top{
    margin-top: 150px;
}
.section_4 .business_card.caption::after{
    position: absolute;
    bottom: -140px;
    font-weight: normal;
    width: 150%;
    font-size: 18px;
    color: #282331;
    content: "Don’t be a part of that 88%. Increase your chances by leaving a lasting impression.";
}

/* section 5 start from here */
.section_5{
    margin-top: 170px;
}
.section_5 .caption{
    font-size: 18px;
    color: #8f49f9;
}
.section_5 .title{
    margin: 25px 12px 60px;
    font-size: 45px;
}

.section_5 .feedback_txt{
    font-size: 22px;
    color: #282331;
    opacity: 0.8;
    margin-bottom: 40px;
    font-family: 'IBM Plex Mono', monospace;
}
.section_5 .client img{
    margin-right: 20px;
}
.section_5 .client .name{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 15px;
}
.section_5 .client .status{
    color: #8f49f9;
    opacity: 1;
    font-size: 16px;
}
.section_5 .swiper_btn{
    width: 84px;
    height: 68px;
    background: #303539;
    box-shadow: -3.9px -27.73px 45px rgba(176, 124, 255, 0.35);
    color: #fff;
    border-radius: 2% 100% 54% 51% / 0% 86% 0% 0% ;
}
.section_5 .button-prev{
    border-radius: 2% 100% 54% 51% / 0% 86% 0% 0% ;
}
.section_5 .button-next{
    border-radius: 100% 0% 54% 51% / 100% 0% 0% 0%  ;
}
.section_5 .swiper_btn.swiper-button-disabled{
    width: 84px;
    height: 68px;
    color: #8f49f9;
    background-color: transparent;
    box-shadow: none;
}
/* section 6 start from here */
.section_6 .section_title{
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 50px;
}
.section_6 .pricing_box{
    padding: 96px 20px 55px;
    width: 24%;
    height: 556.03px;
    background: #f8f8f8;
    box-shadow: 0px 0px 0px rgba(76, 75, 76, 0.18);
}
.section_6 .pricing_box.border-right{
    border-right: 1px solid #C6C6C6;
}
.section_6 .pricing_box.popular{
    padding-top: 172px;
    height: 706px;
    border-radius: 8.49px;
    background: #1e1f20;
    box-shadow: 0.97px 3.88px 7px rgba(76, 75, 76, 0.31);
    color: #fff;
    width: 27%;
}
.section_6 .pricing_box .name{
    font-size: 17px;
    letter-spacing: 0.15em;
    line-height: 36.75px;
    text-align: center;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
}
.section_6 .pricing_box.popular .name {
    color: #fff;
}
.section_6 .price{
    font-size: 15px;
}
.section_6 .price .f-70{
    font-size: 70px;
}
.section_6 .price .f-90{
    font-size: 90px;
}
.section_6 .pricing_box .des{
    font-family: 'Arvo', serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #9fa3a7;
    margin-bottom: 25px;
}
.section_6 .pricing_box.popular .des{
    color: #fff;
    opacity: 1;
}
.section_6 .btn{
    padding: 20px 40px;
    border-radius: 33.23px;
    background: transparent;
    border: 2px solid #d8d8d8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.15em;
    color: #525252;
}
.section_6 .pricing_box.popular .btn{
    background: #4c4c4c;
    box-shadow: 0.97px 3.88px 7px rgba(76, 75, 76, 0.16);
    color: #fff;
    border: none;
    font-weight: 600;
} 
.faqs_section { 
    margin: 67px 40px -50px;
    padding: 48px 85px 36px;
    background: #fff;
    box-shadow: 0px 0px 40px rgba(204, 204, 204, 0.35);
    z-index: 1;
    position: relative;
}
.faqs_section .section_title{
    font-weight: 600;
    font-size: 45px;
}
.faqs_section p{
    opacity: 1;
    font-size: 18px;
}
.faqs_section .links{
    max-width: 640px;
}
.faqs_section .link{
    color: #010004;
    font-weight: 400;
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 12px;
}
.faqs_section .link i{
    margin-right: 8px;
}

/* footer section start from here */
footer{
    background-image: url(../img/footer_bg.png);
    padding-top: 130px;
    z-index: 0;
}
footer .box{
    /* width: 20%; */
    margin-top: 20px;
    max-width: 300px;
    min-height: 200px;
    padding: 0 20px;
}
footer .socials .social_icon{
    width: 51px;
    height: 51px;
    /* background: #303539; */
    color: #282331;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -3.34px -23.77px 26px rgba(192, 168, 228, 0.35);
    margin-right: 8px;
}
footer .socials .social_icon:hover{
     background: #303539;
     color: #fff;
}
footer .box_head{
    font-size: 20px;
    line-height: 40px;
    color: #101010;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
}
footer .link{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
    text-decoration: none;
    font-size: 16px;
    text-align: left;
    margin-bottom: 12px;
    color: #39436f;
    opacity: 0.7;
    transition: .2s;
}
footer .link:hover{
    color: #8f49f9;
}
footer .copy_right{
    margin-top: 40px;
    padding: 40px 0;
    background: #c2c2c2;
    opacity: 0.09;
    font-size: 18px;
    color: #282331;
    opacity: 0.7;
    font-family: 'IBM Plex Mono', monospace;
}