/* ----------------------------------------------------------------
	Responsive CSS
-----------------------------------------------------------------*/ 
 
@media (max-width: 1600px) {
	.header_section {
        background-position-x: 317%;
    }
    nav {
        margin-top: 20px;
    }
}
 
@media (max-width: 1440px) {
	img{
        max-width: 100%;
    }
    .navbar-brand img{
        width: 120px;
    }
    nav .nav-link {
        font-size: 16px;
        margin-left: 24px;
    }
    .header_section .hero_title {
        font-size: 35px;
    }
    .section_4 .business_card {
        width: 250px !important;
        height: 250px !important;
    }
    .section_4 .business_card h3 {
        font-size: 17px;
    }
    .section_4 .business_card h2 {
        font-size: 20px;
    }
    .section_4 .business_card.caption::after {
        bottom: -118px;
        font-size: 16px;
    }
    .section_5 .feedback_txt {
        font-size: 20px;
    }
    .section_5 .title {
        margin: 15px 12px 45px;
        font-size: 36px;
    }
    .section_5 .client img {
        margin-right: 16px;
        width: 100px;
    }
    .section_5 .client .name {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .section_5 .client .status {
        font-size: 14px;
    }
    .section_6 .section_title {
        font-size: 35px;
    }
    .section_6 .price .f-90 {
        font-size: 80px;
    }
    .section_6 .pricing_box .des {
        font-size: 16px;
        line-height: 24px;
    }
    .section_6 .btn {
        padding: 16px 37px;
        font-size: 15px;
    }
    footer .link {
        font-size: 14px;
    }
    footer .copy_right {
        padding: 30px 0;
        font-size: 16px;
    }
    footer .logo_sec img{
        width: 120px;
    }
    footer .box {
        margin-top: 20px;
        max-width: 240px;
    }
    
}

@media (min-width: 1280px) and (max-width: 1366px) {
	
	
}

@media (max-width: 1280px) {
	
    .header_section {
        height: 745px;
        background-size: 80%;
    }
    .header_section .left_bg img{
        width: 400px;
    }
    .section_2 .left_bg img{
        width: 300px;
    }
    .section_4 .business_card {
        width: 200px !important;
        height: 200px !important;
        border: 20px solid #fff;
    }
    .section_6 .pricing_box,
    .section_6 .pricing_box.popular{
        width: 100% !important;
    }

    .section_2 .inner_content{
        margin-bottom: 20px;
    }
	  
	
}


@media (max-width: 1199.98px) {

	

}


@media (min-width: 992px) and (max-width: 1199.98px) {


}


@media (max-width: 991.98px) { 

    .section_4 .business_card h3 {
        font-size: 13px;
    }
    .section_4 .business_card {
        width: 150px !important;
        height: 150px !important;
        border: 10px solid #fff;
    }    
    .navbar-collapse {
        background-color: #fff;
        padding: 12px;
    }
    .navbar-collapse a::before{
        display: none;
    }
	
	
}


@media (min-width: 768px) and (max-width: 991.98px) {


}


@media (max-width: 767.98px) {

    .section_4 .business_card.caption::after {
        bottom: -110px;
        right: -18px;
    }
    .section_5 .title {
        margin: 15px 12px 30px;
        font-size: 29px;
    }
    .faqs_section {
        margin: 67px 0px -50px;
        padding: 20px;
    }
    .navbar-brand img {
        width: 80px;
    }
    .header_section {
        height: 700px;
        padding-left: 20px;
    }
    .section_6 .pricing_box.popular,
    .section_6 .pricing_box {
        padding-top: 100px;
        height: 500px;
    }
    .section_5 .img{
        margin-top: 50px;
    }
    .section_5 .title {
        margin: 12px 0px 18px;
        font-size: 28px;
    }


}

@media (min-width: 576px) and (max-width: 767.98px) {


}

@media (max-width: 575.98px) {

    .section_4 .business_card h2 {
        font-size: 15px;
    }
    .section_4 .business_card h3 {
        font-size: 12px;
    }
    .section_4 .business_card.caption::after {
        width: 190%;
        bottom: -118px;
        right: -18px;
    }
    .header_section .btn {
        margin-bottom: 20px;
    }
    .header_section .hero_title {
        font-size: 28px;
        margin-bottom: 25px;
        line-height: 120%;
    }
    .header_section {
        height: 620px;
        padding-top: 140px;
    }
    .header_section .left_bg img {
        width: 250px;
    }
    .section_2 .inner_content {
        padding: 50px 50px 20px 50px;
        height: auto;
    }
    .section_3 .text-content {
        padding: 0;
        margin-top: 20px;
    }

}

@media (max-width: 400px) {

	
}


/* ----------------------------------------------------------------
	Retina CSS
-----------------------------------------------------------------*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {


}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991.98px),
only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 991.98px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 991.98px),
only screen and (        min-device-pixel-ratio: 2) and (max-width: 991.98px),
only screen and (                min-resolution: 192dpi) and (max-width: 991.98px),
only screen and (                min-resolution: 2dppx) and (max-width: 991.98px) {
	
}

